{% set path = app.request.pathinfo %}
<nav class="navbar navbar-expand-lg navbar-admin" id="header">
    <div class="container">
        <a class="navbar-brand" href="{{ path('admin_dashboard') }}">
            <i class="fa-solid fa-gear"></i>
            <div class="vr d-none d-lg-block"></div>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 navbar-admin-items">
                <li class="nav-item">
                    <a class="nav-link {% if 'gallery' in path %}active{% endif %}" aria-current="page" href="{{ path('admin_gallery') }}">
                        <span>
                            <i class="fa-solid fa-camera-retro"></i>
                        </span>
                        Galerie
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if 'categories' in path %}active{% endif %}" href="{{ path('admin_category_index') }}">
                        <span>
                            <i class="fa-solid fa-tag"></i>
                        </span>
                        Catégorie
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_home') }}">
                        <span>
                            <i class="fa-solid fa-star"></i>
                        </span>
                        Blog
                    </a>
                </li>
            </ul>
            <a class="btn btn-outline-light btn-logout mx-auto mx-lg-0 d-block" href="{{ path('app_logout') }}">Déconnexion</a>
        </div>
    </div>
</nav>
