{% extends 'admin/base_admin.html.twig' %}

{% block title %}{{ parent() }} - Catégories{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('admin_dashboard') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('admin_dashboard') }}
{% endblock %}

{% block body %}
    {{ parent() }}
    <div class="page-wrapper">
        {{ include ('partials/_wave_header.html.twig', {
            title : 'Vos catégories',
            description : "Voici l'ensemble des catégories actuellement présentes sur le site. Vous pouvez ajouter une categorie en utilisant le formulaire ci-dessous ou bien modifier ou supprimer un catégorie en cliquant dessus.",
            breadcrumbs: [{'label': 'Admin','path': '#'}]
        }) }}
    </div>
{% endblock %}