{% extends 'admin/base_admin.html.twig' %}

{% block title %}{{ parent() }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('admin_dashboard') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('admin_dashboard') }}
{% endblock %}

{% block body %}
    {{ parent() }}
    <div class="page-wrapper">
        {{ include ('partials/_wave_header.html.twig', {
            title : 'Tableau de bord',
            description : "Ici vous trouverez l'ensemble des informations présente sur le site",
            breadcrumbs: [{'label': 'Admin','path': path('admin_dashboard')}]
        }) }}
        <main class="container pt-4">

        </main>
        {{ include('partials/_footer_wave.html.twig') }}
    </div>
{% endblock %}