{% extends 'admin/base_admin.html.twig' %}

{% block title %}{{ parent() }} - Catégories{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('admin_category_index') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('admin_category_index') }}
{% endblock %}

{% block body %}
    <div class="page-wrapper">
        {{ include ('partials/_wave_header.html.twig', {
            title : 'Vos catégories',
            description : "Voici l'ensemble des catégories actuellement présentes sur le site. Vous pouvez ajouter une categorie en utilisant le formulaire ci-dessous ou bien modifier ou supprimer un catégorie en cliquant dessus.",
            breadcrumbs: [{'label': 'Admin','path': '#'},{'label': 'Catégories','path': path('admin_category_index')}],
            actions: [{'label': 'Ajouter une catégorie','path': path('admin_gallery_create')}]
        }) }}

        <main class="container pt-4">
            <div class="category-form">
                {{ form_start(form, {'attr': {'novalidate': 'novalidate', 'id': 'category-form', 'data-url': path('api_category_create') }}) }}
                <div class="mb-3 category">
                    {{ form_label(form.name) }}
                    <div class="wrapper-field">
                        <div class="category-field">
                            {{ form_widget(form.name) }}
                            {{ form_help(form.name) }}
                        </div>
                        <button type="submit" class="btn btn-main">Sauvegarder</button>
                    </div>
                    {{ form_errors(form.name) }}
                </div>
                {{ form_end(form) }}
            </div>

            <div class="category-wrapper">
                {% for category in categories %}
                    <button
                        type="button"
                        class="btn btn-main position-relative btn-category"
                        data-name="{{ category.name }}"
                        data-url="{{ path('api_category_delete', {id: category.id}) }}"
                        data-id="{{ category.id }}"
                    >
                        {{ category.name }}
                        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill border border-light">
                            {{ category.gallery_count }}
                            <span class="visually-hidden">unread messages</span>
                        </span>
                    </button>
                {% endfor %}
            </div>
            {{ include('partials/_category_badge_template.html.twig') }}
        </main>
        {{ include('partials/_footer_wave.html.twig') }}
    </div>
{% endblock %}