{% extends 'admin/base_admin.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('admin_gallery_index') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('admin_gallery_index') }}
{% endblock %}

{% block body %}
    <div class="page-wrapper">
        {{ include ('partials/_wave_header.html.twig', {
            title : 'Vos galeries',
            description : "Voici l'ensemble des galeries actuellement presente sur le site.",
            breadcrumbs: [{'label': 'Admin','path': '#'},{'label': 'Galerie','path': path('admin_gallery')}]
        }) }}

        <main class="container pt-4">
            <div class="row">
                {% for gallery in galleries %}
                    <div class="col-3 mb-4">
                        <div class="card">
                            <img src="{{ asset('uploads/thumbnails/' ~ gallery.thumbnail.imageName) }}" class="gallery-thumbnail" alt="thumbnail">
                        </div>
                    </div>
                {% endfor %}
            </div>
        </main>
        {{ include('partials/_footer_wave.html.twig') }}
    </div>
{% endblock %}